<link rel="stylesheet" href="/libs/reading-list-style.css">

<article class="article">
    <div class="article-entry">
        <div class="reading-list">
            <%- page.content %>
        </div>
    </div>
</article>

